---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}

  
  <div class="post-nav">
    {% if page.previous %}
      <p>← Previous: <a class="prev-post" href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
    {% endif %}
    <br/>
    {% if page.next %}
      <p>→ Next: <a class="next-post" href="{{ page.next.url }}">{{ page.next.title }}</a></p>
    {% endif %}
    <br/>
  </div>

  
  {% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
  
      var disqus_config = function () {
          this.page.url = "{{ site.url }}{{ page.url }}"
          this.page.identifier = "{{ page.url }}"
      };
      
      var disqus_shortname = 'mccormickml';
      // var disqus_developer = 1; // Comment out when the site is live
      var disqus_title      = '{{ page.title }}';
      
      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          
          s.src = '//' + disqus_shortname + '.disqus.com/embed.js';        
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
  
</article>


